*,
body {
  font-family: "Cairo", sans-serif;
  color: black;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
  color: var(--pClor);
  margin: 3px 0;
}

h2 {
  font-size: var(--bigFont);
  font-weight: bold;
  letter-spacing: 1px;
}

section {
  padding: var(--sectionpadding) 0 var(--sectionpadding) 0;
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

:root {
  --mainColor: #2196f3;
  --mainColor-alt: #1787e0;
  --pClor: rgb(0 0 0 / 0.5);
  --smallFont: 15px;
  --midFont: 19.5px;
  --bigFont: 23px;
  --boxPadding: 15px;
  --sectionpadding: 110px;
  --fontW-small: 300;
  --fontW-mid: 400;
  --fontW-big: 900;
  --tran: 0.5s;
  --sectionC: #e6e6e6;
}

/*--HEADER--*/
.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: var(--boxPadding);
  gap: 30px;
}

@media (min-width: 769px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  background-color: white;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.container_h {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}

#header_con {
  padding: 0 var(--boxPadding);
}

.container_h > a:first-child {
  padding-left: 0;
}

header a {
  padding: var(--boxPadding);
}

header #links {
  font-size: var(--smallFont);
  font-weight: var(--fontW-mid);
  display: flex;
}

header #links .diff::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(230 243 255 / 0.3);
}

header #links .click {
  height: 100%;
  display: block;
}

header #links .diff {
  position: relative;
  overflow: hidden;
  transition: var(--tran);
}

header #links .diff:hover,
header #links .diff:hover::before,
header #links .diff:hover::after {
  color: blue;
  left: 0;
}

header #links .diff::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background-color: var(--mainColor-alt);
  transition: var(--tran);
}

.container_h > *:not(div) {
  color: var(--mainColor);
  font-size: var(--bigFont);
  font-weight: bold;
}

.down {
  position: absolute;
  display: flex;
  z-index: 1;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
  opacity: 0.2;
  padding: var(--boxPadding);
  border-bottom: 4px solid var(--mainColor);
  top: calc(100% + 50px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.082),
    rgba(0, 0, 0, 0.082) -3px -3px 5px;
}

.down.appear {
  transition: var(--tran), opacity 0.6s;
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.down a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--tran);
}

.down a {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  flex-basis: 20px;
  padding: 20px;
  padding-left: 30px;
  overflow: hidden;
  color: var(--mainColor-alt);
  font-weight: bold;
}

.down a:hover::before {
  left: 0;
}

.down a i {
  color: var(--mainColor-alt);
}

.list_link {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  flex-basis: 290px;
}

.list_link li:not(:last-child) {
  border-bottom: 1px solid var(--sectionC);
}

/*--mobile--*/
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .container_h {
    width: fit-content;
    flex-direction: column;
    align-items: center;
  }

  .down {
    flex-direction: column;
    width: 100%;
  }

  .down .list_link a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .diff {
    padding: calc(var(--boxPadding) - 5px);
  }

  .down .list_link a:not(:last-child) {
    border-bottom: 1px solid var(--sectionC);
  }

  .down .list_link:nth-child(2) {
    border-bottom: 1px solid var(--sectionC);
  }

  .down .list_link {
    margin: 0;
    flex-basis: 0;
  }

  .down img {
    display: none;
  }
}

.down .list_link a:not(:last-child) {
  border-bottom: 1px solid var(--sectionC);
}

/*--medium--*/
@media (min-width: 768px) and (max-width: 991px) {
  .container_h {
    width: fit-content;
    flex-direction: column;
    align-items: center;
  }

  .down {
    justify-content: space-evenly;
    width: 75%;
    padding: 0;
  }

  .down .list_link a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-basis: 0px;
  }

  .down .list_link:nth-child(2) {
    border-bottom: 1px solid var(--sectionC);
  }

  .down .list_link {
    margin: 0;
  }

  .down img {
    display: none;
  }
}

/*--large--*/
@media (min-width: 991px) and (max-width: 1199px) {
  .down img {
    max-width: 335px;
    height: 230px;
  }

  .down {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .down {
    width: 80%;
    justify-content: space-evenly;
  }

  .down img {
    max-width: 450px;
  }
}

/*--sec_1--*/
#sec_1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100px;
  background-color: var(--sectionC);
  width: 150%;
  height: 100%;
  transform: rotate(-5deg);
  transform-origin: top left;
}

#sec_1 {
  display: flex;
}

#content {
  display: flex;
  padding: var(--boxPadding);
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#content div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 767px) {
  #content {
    justify-content: center;
  }

  #content div {
    text-align: center;
  }

  .down {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

#content div > * {
  margin: 0;
}

#content h1 {
  letter-spacing: -2px;
  font-size: 35px;
}

#content p {
  font-size: 20px;
}

#content img {
  max-width: 400px;
  animation-name: up_down;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/*--small--*/
@media (max-width: 767px) {
  #content img {
    display: none;
  }

  #content > div > p {
    font-size: 13px;
  }
}

/*--mid--**/
@media (min-width: 768px) and (max-width: 992px) {
  #content img {
    max-width: 180px;
  }
}

@keyframes up_down {
  0% {
    margin-top: 50px;
  }

  100% {
    margin-bottom: 50px;
  }
}

.navigate {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: var(--bigFont);
  font-weight: var(--fontW-mid);
  animation-name: down;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes down {
  0%,
  25% {
    bottom: 0;
  }

  40% {
    bottom: 15px;
  }

  55% {
    bottom: 0;
  }

  70% {
    bottom: 15px;
  }

  85%,
  100% {
    bottom: 0;
  }
}

.navigate i {
  color: var(--mainColor-alt);
}

/*--sec_2--*/

.button::before {
  right: -25%;
}

.button:hover::before {
  transition: right var(--tran), width var(--tran) calc(var(--tran) - 0.3s),
    height var(--tran) calc(var(--tran) - 0.3s),
    border-radius var(--tran) calc(var(--tran) - 0.3s);
  width: 50%;
  border-radius: 0;
  height: 100%;
  right: 0;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--mainColor-alt);
  border-radius: 100%;
}

.button {
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
  margin: 50px auto;
  font-size: var(--bigFont);
  font-weight: bold;
  border: 2px solid black;
}

.button:hover {
  transition: var(--tran) 0.6s;
  border: 2px solid transparent;
  color: white;
}

#boxes {
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.button::after {
  left: -25%;
}

.button:hover::after {
  transition: left var(--tran), width var(--tran) calc(var(--tran) - 0.3s),
    height var(--tran) calc(var(--tran) - 0.3s),
    border-radius var(--tran) calc(var(--tran) - 0.3s);
  width: 50%;
  border-radius: 0;
  height: 100%;
  left: 0;
}

.box {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 10%), -1px -1px 4px rgb(0 0 0 / 10%);
  transition: var(--tran);
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 3px 3px 15px rgb(0 0 0 / 10%), -3px -1px 15px rgb(0 0 0 / 10%);
}

.box .foot i {
  position: relative;
}

.box:hover i {
  animation-name: move;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    left: 0;
  }

  100% {
    left: 10px;
  }
}

.title {
  border-bottom: 1px solid rgb(0 0 0 / 0.1);
}

.box img {
  width: 100%;
}

.box h3 {
  margin: 3px 0;
}

.box .title p {
  font-size: 14px;
}

.box .title,
.box .foot {
  padding: 10px 20px;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.foot > * {
  font-weight: bold;
  color: var(--mainColor);
}

/*--sec_3--*/

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 40px 40px;
}

#sec_3 {
  position: relative;
  background-color: var(--sectionC);
}

.photo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.1;
}

.photo:hover::before {
  transition: calc(var(--tran) - 0.2s), opacity 0.2s calc(var(--tran) - 0.2s);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.photo {
  position: relative;
  z-index: 2;
  padding: var(--boxPadding);
  background-color: white;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1), -5px -5px 5px rgb(0 0 0 / 0.1);
  text-align: center;
  transition: var(--tran);
  overflow: hidden;
}

.photo div {
  overflow: hidden;
}

.photo:hover img {
  transform: scale(1.1) rotate(5deg);
}

.photo img {
  max-width: 100%;
  width: 100%;
  transition: calc(var(--tran) - 0.2s);
}

/*--sec_4--*/

.con_ch {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.621);
}

.con_ch > *:not(.overlay) {
  width: fit-content;
  margin: 20px auto;
}

.con_ch h1 {
  position: relative;
  padding: 15px;
}

.con_ch h1::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  height: 5px;
  width: 50%;
  transform: translate(-50%);
}

.con_ch:first-child h1:before {
  background-color: red;
}

.con_ch:nth-child(2) h1::before {
  background-color: green;
}

.con_ch:nth-child(3) h1::before {
  background-color: blue;
}

.con_ch p {
  line-height: 2;
}

.con_ch .overlay::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  border-width: 0 0 200px 325px;
  z-index: 2;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transition: var(--tran);
}

.con_ch:hover .overlay::before {
  border-width: 0 600px 200px 0;
}

@media (max-width: 985px) {
  .con_ch .overlay::before {
    border-width: 0 0 150px 700px;
  }

  .con_ch:hover .overlay::before {
    border-width: 0 1292px 150px 0;
  }
}

@media (min-width: 1005px) {
  .con_ch .overlay::before {
    border-width: 0 0 200px 433px;
  }

  .con_ch:hover .overlay::before {
    border-width: 0 799px 200px 0;
  }
}

.con_ch .overlay img {
  width: 100%;
  height: 100%;
}

.con_ch .overlay {
  position: relative;
  overflow: hidden;
  background-size: cover;
  height: 317px;
}

.con_ch .overlay::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.con_ch:first-child .overlay::after {
  background-color: rgba(255, 0, 0, 0.438);
}

.con_ch:nth-child(2) .overlay::after {
  background-color: rgb(0, 255, 0, 0.438);
}

.con_ch:last-child .overlay::after {
  background-color: rgb(0, 0, 255, 0.438);
}

.con_ch a {
  position: relative;
  width: fit-content;
  padding: 10px 30px;
  font-size: var(--midFont);
  border-radius: 5px;
  font-weight: var(--fontW-big);
  overflow: hidden;
  display: block;
  transition: var(--tran);
  border: 2px solid;
}

.con_ch a::before {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  bottom: 0;
  left: -100%;
  transition: var(--tran);
}

.con_ch:hover a::before {
  left: 0;
}

.con_ch:first-child a::before {
  background-color: red;
}

.con_ch:nth-child(2) a::before {
  background-color: green;
}

.con_ch:last-child a::before {
  background-color: blue;
}

.con_ch:first-child a {
  color: red;
  border-color: red;
}

.con_ch:nth-child(2) a {
  color: green;
  border-color: green;
}

.con_ch:last-child a {
  color: blue;
  border-color: blue;
}

.con_ch:hover a {
  color: white;
}

/*--sec_5--*/
#sec_5 {
  position: relative;
  background-color: var(--sectionC);
}

#comments .comment {
  background-color: white;
  position: relative;
  padding: var(--boxPadding);
  border-radius: 5px;
}

#comments .comment > *:not(img) {
  margin: 0;
  padding: calc(var(--boxPadding) - 12px);
}

#comments .comment p:nth-child(2) {
  font-weight: var(--fontW-big);
  font-size: calc(var(--smallFont) + 2px);
}

#comments .comment p:last-child {
  line-height: 20px;
}

#comments .comment .stars i:not(:last-child) {
  color: #ffcc00;
}

#comments .comment:last-child .stars i:nth-child(4) {
  color: black;
}

#comments .comment:nth-child(5) .stars i:last-child {
  color: #ffcc00;
}

#comments .comment img {
  position: absolute;
  border-radius: 50%;
  border: 10px solid var(--sectionC);
  max-width: 85px;
  right: -20px;
  top: -50px;
}

/*--sec_6--*/

.name_b::before,
.name_b::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  transition: var(--tran);
}

.name_b::before {
  width: 80%;
  background-color: var(--sectionC);
}

.name_b {
  position: relative;
  z-index: 1;
  padding: var(--boxPadding) 0;
}

.name_b::after {
  background-color: #d9d9d9;
  width: 0;
}

.name_b:hover::after {
  width: 80%;
}

.up_con img,
.up_con div a i {
  transition: var(--tran);
}

.up_con {
  display: flex;
  justify-content: space-between;
}

.up_con div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--boxPadding);
}

.up_con div a {
  padding: var(--boxPadding);
}

.up_con img {
  width: calc(100% - 60px);
  border-radius: 10px;
}

.name_b:hover img {
  filter: grayscale(100%);
}

.up_con div a i {
  color: rgba(0, 0, 0, 0.315);
}

.up_con div a:hover i {
  color: var(--mainColor);
}

.text {
  padding-left: 30%;
}

.text h2 {
  color: var(--mainColor);
}

/*--sec_7--*/

#sec_7 {
  background-color: var(--sectionC);
  counter-reset: count;
}

.sec_7b::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%);
  height: 3px;
  width: 0;
  background-color: var(--mainColor);
  transition: calc(var(--tran) - 0.1s);
}

.sec_7b:hover::before {
  width: 100%;
}

.sec_7b:hover {
  top: -10px;
}

.sec_7b {
  position: relative;

  top: 0;
  height: 215px;
  background-color: white;
  transition: calc(var(--tran) - 0.1s);
}

.sec_7b div:first-child {
  margin-top: 25px;
}

.sec_7b > *:not(:last-child) {
  text-align: center;
  margin: 10px;
}

.sec_7b .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f28f;
  overflow: hidden;
}

.sec_7b .bottom p::before {
  counter-increment: count;
  content: "0" counter(count);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  width: calc(70% - 20px);
  color: white;
}

.sec_7b .bottom p {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px 0 10px 25px;
  width: 50%;
  height: 100%;
  font-size: var(--bigFont);
  font-weight: var(--fontW-big);
}

.sec_7b .bottom p::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(
    to right,
    var(--mainColor) 70%,
    var(--sectionC) 70%
  );
  width: 90%;
  height: 100%;
  top: 0;
  left: -20px;
  transform: skewX(-35deg);
}

.sec_7b div i {
  color: #d9d9d9;
  font-size: 60px;
}

.sec_7b h2,
.sec_7b a {
  color: var(--mainColor);
}

.bottom a {
  padding: var(--boxPadding);
}

/*--sec_8--*/

#skill_b {
  display: flex;
  align-items: center;
  padding: var(--boxPadding);
  margin: auto;
}

#skill_b img {
  max-width: 100%;
}

@media (max-width: 991px) {
  #skill_b img {
    display: none;
  }
}

#skill_b div {
  width: 100%;
}

#skill_b div .con_box {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #f2f2f2;
}

#skill_b div .con_box::after {
  font-size: 10px;
  padding: 2px;
  color: var(--mainColor);
  font-weight: var(--fontW-big);
  border-radius: 2px;
  position: absolute;
  width: fit-content;
  right: 0;
  top: -30px;
  border: 2px solid #cccccc;
}
#skill_b div .con_box .box_move {
  background-color: var(--mainColor);
  height: 100%;
  width: 0;
  transition: var(--tran);
}

#skill_b div .con_box:nth-child(2)::after {
  content: "80%";
}

#skill_b div .con_box:nth-child(4)::after {
  content: "85%";
}

#skill_b div .con_box:nth-child(6)::after {
  content: "70%";
}

#skill_b div .con_box:last-child::after {
  content: "80%";
}

#skill_b div p {
  font-weight: var(--fontW-big);
}

/*--sec_9--*/

#sec_9 {
  background-color: var(--sectionC);
}

#sec_9p {
  margin: auto;
  padding: var(--boxPadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sec_9p img {
  max-width: 100%;
}

.sec_9b {
  display: flex;
  align-items: center;
}

.sec_9b img {
  margin-right: 20px;
}

.sec_9b::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: calc(var(--tran) - 0.2s);
}

.sec_9b {
  position: relative;
  z-index: 1;
  background-color: #f6f5f5;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: var(--boxPadding);
  margin: var(--boxPadding) 0;
  transition: var(--tran);
}

.sec_9b:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sec_9b div p {
  line-height: 30px;
}

.sec_9b img {
  width: 60px;
  height: 60px;
}

@media (max-width: 767px) {
  .sec_9b {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 991px) {
  #sec_9p {
    justify-content: center;
    flex-wrap: wrap;
  }

  #sec_9p div {
    width: 100%;
  }
}

/*--sec_10--*/

.img_pos > img {
  position: absolute;
  z-index: -1;
}

.img_pos {
  z-index: 1;
}

.img_pos > img:nth-child(2) {
  right: 15px;
}

.img_pos > img:nth-child(3) {
  bottom: 100px;
  left: 15px;
}

#sec_10subc,
#sec_10p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#sec_10subc div {
  border: 2px solid var(--sectionC);
  border-radius: 10px;
}

#sec_10c > * {
  text-align: center;
}

#sec_10subc div > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec_10subc {
  padding: var(--boxPadding);
}

#sec_10subc div {
  width: 75px;
  transition: var(--tran);
}

#sec_10subc div:hover {
  border-color: var(--mainColor);
}

#sec_10subc div p {
  margin: 0;
}

#sec_10subc div p:last-child {
  border-top: 2px solid var(--sectionC);
  font-size: small;
  font-weight: initial;
  color: initial;
}

#sec_10subc div p:first-child {
  color: var(--mainColor);
  font-weight: var(--fontW-big);
  font-size: 35px;
  height: 75px;
}

#sec_10p img {
  max-width: 450px;
}

@media (max-width: 991px) {
  #sec_10p img {
    display: none;
  }
}

#sec_10 form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  justify-content: center;
}

#form form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border: 30px solid #f6f5f5;
  border-radius: 45px;
  width: 60%;
  background-color: #f6f5f5;
}

#form form input {
  border-radius: 45px;
  border: 50px;
  padding: var(--boxPadding);
  border: none;
  transition: calc(var(--tran) - 0.2s);
  display: flex;
}

#form form input[type="submit"] {
  background-color: var(--mainColor);
  color: white;
  font-weight: var(--fontW-big);
  text-align: center;
}

#form form input[type="email"]:focus {
  outline: none;
}

#form form input[type="submit"]:hover {
  background-color: var(--mainColor-alt);
}

#form form input[type="email"]::placeholder {
  opacity: 1;
  transition: calc(var(--tran) - 0.2s);
}

#form form input[type="email"]:focus::placeholder {
  opacity: 0;
}

#form form input[type="email"] {
  padding-left: 20px;
  transition: var(--tran);
  caret-color: var(--mainColor);
  flex: 1;
}

#form_p {
  margin-top: 50px;
}

@media (max-width: 767px) {
  #form form input {
    border-radius: 0;
  }

  #form form {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 0;
  }

  #form form input[type="email"] {
    width: 100%;
    margin-bottom: 20px;
  }

  .img_pos > img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .img_pos > img {
    display: none;
  }
}

/*--sec_11--*/

#sec_11 {
  background-color: var(--sectionC);
}

.sec_11_b {
  position: relative;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082),
    -5px -5px 10px rgba(0, 0, 0, 0.082);
}

.sec_11_b .top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  z-index: -1;
  background-color: #f6f6f6;
  transition: var(--tran);
}

.sec_11_b .top {
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec_11_b:hover .top::before {
  left: 0;
}

.sec_11_b div img {
  width: 80px;
}

.sec_11_b div h3 {
  font-weight: bold;
  font-size: var(--bigFont);
}

.diffrent {
  position: relative;
  bottom: 20px;
}

@media (max-width: 992px) {
  .diffrent {
    bottom: 0;
  }
}

.sec_11_b div p:nth-child(3) {
  font-size: var(--bigFont);
  color: var(--mainColor);
  font-size: 60px;
  margin: 50px 0 0 0;
  font-weight: var(--fontW-big);
  line-height: 40px;
  text-align: center;
}

.sec_11_b div p span {
  display: block;
  color: var(--pClor);
  font-size: 14px;
  font-weight: var(--fontW-mid);
}

.sec_11_b ul::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: -1;
  background-color: #f6f6f6;
  transition: var(--tran);
}

.sec_11_b ul {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  list-style: none;
  margin: 0;
}

.sec_11_b:hover ul::before {
  right: 0;
}

.sec_11_b ul li {
  padding: var(--boxPadding);

  border-top: 1px solid rgba(0, 0, 0, 0.171);
}

.sec_11_b ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: var(--fontW-big);
  color: var(--mainColor);
}

.sec_11_b ul a {
  display: block;
  text-align: center;
  border: 2px solid var(--mainColor);
  border-radius: 10px;
  width: 130px;
  margin: 50px auto;
  padding: var(--boxPadding);
  color: var(--mainColor);
  font-weight: var(--fontW-big);
  transition: var(--tran);
}

.sec_11_b ul a:hover {
  color: white;
  background-color: var(--mainColor-alt);
  border-color: white;
}

#label::before {
  content: "";
  position: absolute;
  border-width: 15px;
  border-color: transparent white transparent transparent;
  border-style: solid;
  left: calc(140px - 30px);
}

#label {
  position: absolute;
  z-index: 2;
  height: 30px;
  width: 140px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  font-weight: var(--fontW-big);
  background-color: #1787e0;
  margin: 0;
  top: 0;
  right: -120px;
  transform-origin: left top;
  transform: rotate(90deg);
}

/*--sec_12--*/
#list_con {
  display: flex;
}

#first_l {
  min-width: 300px;
  border: 2px solid #ececec;
  border-right: none;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--boxPadding);
  background-color: #f4f4f4;
  border-bottom: 2px solid #ececec;
}

#top p {
  color: black;
  font-weight: bold;
}

.list_con_p .list_content p {
  padding: 20px;
  padding-top: 0;
}

.list_con_p .list_content a {
  padding: 20px;
  padding-bottom: 0;
  transition: var(--tran);
  font-size: var(--smallFont);
}

.list_con_p .list_content a {
  display: block;
}

.list_content:not(:last-child) p {
  border-bottom: 2px solid #ececec;
}

.list_content {
  cursor: pointer;
}

.list_content > * {
  margin: 0;
}

.list_content:hover a {
  color: var(--mainColor);
}

.list_content:hover {
  background-color: #fafafa;
}

#video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e2e2e2;
  padding: 10px;
}

#video img {
  max-width: 100%;
}

#video #text {
  background-color: white;
  color: black;
  padding: var(--boxPadding);
}

@media (max-width: 992px) {
  #list_con {
    flex-direction: column;
  }

  #first_l {
    width: 100%;
    border-bottom: none;
    border-right: 2px solid #ececec;
  }

  .list_content:last-child p {
    border-bottom: none;
  }
}

/*--sec_13--*/
#sec_13::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 0.9);
  z-index: -1;
}

#sec_13 {
  padding: 50px 0;
  position: relative;
  z-index: 1;
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
}

#sec_13 > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#con_p {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#con_p div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.p_box::before,
.p_box::after {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  background-color: var(--mainColor);
  transition: calc(var(--tran) + 0.5s);
}

.p_box::before {
  left: 0;
  bottom: 0;
}

.p_box {
  font-weight: bold;
  position: relative;
  width: 100%;
  height: 160px;
  padding: 20px 0;
}

.p_box:hover::before,
.p_box:hover::after {
  height: 100%;
}

.p_box::after {
  right: 0;
  top: 0;
}

.p_box i {
  font-size: 25px;
  font-weight: 900;
}

.p_box p {
  margin: 0;
}

.p_box:hover p:nth-child(2) {
  color: black;
}

.p_box:hover p:last-child em {
  color: var(--mainColor-alt);
}

.p_box p:nth-child(2) {
  font-size: 50px;
  font-weight: bold;
  color: #303232;
  transition: var(--tran);
}

.p_box p:last-child em {
  color: var(--mainColor);
  transition: var(--tran);
  font-size: 20px;
}

/*--sec_14--*/

#sec_14 {
  display: flex;
  padding: 0;
}
#sec_14 > div {
  width: 50%;
  padding: 80px 20px;
}
@media (max-width: 992px) {
  #sec_14 {
    flex-direction: column;
  }
  #sec_14 > div {
    width: 100%;
  }
}
#sec_14 div:first-child::before {
  content: "";
  position: absolute;
  background-color: var(--mainColor-alt);
  opacity: 98.5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#sec_14 div:first-child {
  position: relative;
  z-index: 1;
  background-image: url("../imgs/discount-background1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#sec_14 div:first-child > * {
  color: white;
}
#sec_14 img {
  width: 250px;
}
#sec_14 div:first-child h1 {
  font-weight: bold;
  margin: 30px 0;
}
#sec_14 div:first-child p {
  text-align: center;
  font-size: 17px;
  max-width: 500px;
}

#sec_14 div:last-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sec_14 > div > h1 {
  letter-spacing: -2px;
  font-size: 40px;
}
#sec_14 div:last-child form {
  width: 300px;
}
#sec_14 div:last-child form > * {
  display: block;
  width: 100%;
  margin: 25px 0;
  height: 30px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  background-color: #f9f9f9;
  padding: 10px;
}
#sec_14 div:last-child form > *:focus {
  outline: none;
  caret-color: var(--mainColor);
}
#sec_14 div:last-child form input[type="submit"] {
  background-color: var(--mainColor-alt);
  color: white;
  font-size: var(--midFont);
  font-weight: bold;
}
#sec_14 div:last-child form textarea {
  resize: none;
  height: 200px;
}

/*--footer--*/

footer {
  background-color: #191919;
  padding-top: 50px;
}
#footer {
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
}
#f1 h1 {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 15px;
}
#f1 div {
  display: flex;
  gap: 20px;
}

#f1 div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #313131;
  transition: var(--tran);
}
#f1 div a i,
#f1 p {
  color: #b9b9b9;
}
#f1 div a:first-child:hover {
  background-color: #1877f2;
}
#f1 div a:nth-child(2):hover {
  background-color: #1da1f2;
}
#f1 div a:last-child:hover {
  background-color: #ff0000;
}
#f1 p {
  margin-top: 25px;
}

#f2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#f2 ul li a::before {
  content: "\F101";
  font-family: "Font Awesome 5 Free";
  color: var(--mainColor);
  margin-right: 10px;
  font-weight: 900;
  font-size: 15px;
}
#f2 ul li:hover a {
  padding-left: 10px;
  color: white;
}
#f2 ul li {
  padding: 16px 0;
}
#f2 ul li:not(:last-child) {
  border-bottom: 1px solid #3b3b3b;
}
#f2 ul li a {
  color: #b9b9b9;
  font-size: 15px;
  transition: var(--tran);
}
#f3 ul {
  list-style: none;
  padding: 0;
}
#f3 ul li {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

#f3 ul li p {
  color: #b9b9b9;
}
#f3 ul li i {
  color: var(--mainColor);
  margin: 20px;
  font-size: 25px;
}
#f4 {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  width: 100%;
  text-align: end;
}
#f4 div {
  padding: 3px;
  width: 100px;
  height: 100px;
  background-color: white;
}

#f4 img {
  width: calc(100% / 4);
  margin: 2px;
  border: 3px solid white;
}
@media (max-width: 767px) {
  #f2 ul li {
    text-align: center;
  }
  #f3 ul li {
    flex-direction: column;
    align-items: center;
  }
  #f1 div {
    justify-content: center;
  }
  #f1 {
    text-align: center;
  }
  #f3 ul li p {
    text-align: center;
  }
  #f4 {
    text-align: center;
  }
}
footer > div:last-child {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-top: 1px solid #3b3b3b;
}
footer > div:last-child strong {
  color: var(--mainColor);
  font-size: 20px;
}
